.header {
    padding-top: 15px;
    padding-bottom: 10px;
}



.image-circle {
    border-radius: 50%;
}

hr {
    margin: 2.5rem 0 !important;
}

@media (min-width: 992px) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}