{{- /*
Renders a menu for the given menu ID.

@context {page} page The current page.
@context {string} menuID The menu ID.

@example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
*/}}

{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
  <nav class="navbar navbar-expand d-inline-block">
    <ul class="navbar-nav mx-auto">
      {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
    </ul>
  </nav>
{{- end }}

{{- define "partials/inline/menu/walk.html" }}
  {{- $page := .page }}
  {{- $menuID := .menuID }}
  {{- $dropdown := .dropdown }}
  {{- range .menuEntries }}

    {{- $attrs := dict "href" .URL }}

      {{- if $page.IsMenuCurrent .Menu . }}
        {{- $attrs = merge $attrs (dict "class" "active nav-link" "aria-current" "page") }}
      {{- else if $page.HasMenuCurrent .Menu .}}
        {{- $attrs = merge $attrs (dict "class" "ancestor nav-link" "aria-current" "true") }}
      {{- else }}
        {{- $attrs = merge $attrs (dict "class" "nav-link") }}
      {{- end }}

      {{- if $dropdown }}
        {{- $attrs = merge $attrs (dict "class" "dropdown-item") }}
      {{- end }}

    {{- $name := .Name }}
    {{- with .Identifier }}
      {{- with T . }}
        {{- $name = . }}
      {{- end }}
    {{- end }}

    {{- $liAttr := dict "class" "nav-item" }}
    {{ with .Params.dropdownParent }}
      {{- if eq . true }}
      
        {{- $liAttr = merge $liAttr (dict "class" "nav-item dropdown" "id" "navbarDropdown" "role" "button" "data-bs-toggle" "dropdown" "aria-expanded" "false") }}
        {{- $attrs = merge $attrs (dict "class" "nav-link dropdown-toggle") }}

      {{- end }}
    {{ end }}

    <li {{- range $k, $v := $liAttr }}
      {{- with $v }}
        {{- printf " %s=%q" $k $v | safeHTMLAttr }}
      {{- end }}
    {{- end -}}>
      <a
        {{- range $k, $v := $attrs }}
          {{- with $v }}
            {{- printf " %s=%q" $k $v | safeHTMLAttr }}
          {{- end }}
        {{- end -}}
      >{{ $name }}</a>
      {{- with .Children }}
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" . "dropdown" true) }}
        </ul>
      {{- end }}
    </li>
  {{- end }}
{{- end }}
